.Logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
}

.searchbar {
  position: absolute;
  width: 264px;
  height: 40px;
  left: 602px;
  top: 316px;
}

#searchbar {
  position: relative;
  width: 250%;
  height: 40px;
  border-radius: 33px;
}

#googlesearch {
  padding: 7px;
  position: relative;
  left: 167px;
  text-align: center;
  top: 18px;
}

#feelinglucky {
  left: 314px;
  padding: 7px;
  position: relative;
  text-align: center;
  top: -25px;
}
