.Logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
}

.searchbar {
  position: absolute;
  top: 323px;
  left: 657px;
  border-radius: 30px 30px 30px 30px;
  width: 30%;
  height: 6%;
}
